:root {
  --main-color: #2196f3;
  --green-color: #009688;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.con {
  background-color: var(--green-color);
}
.con,
.ove {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 100px;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.ove {
  background-color: #a70221;
}
.con button,
.ove button {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  line-height: 30px;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.game {
  background-color: #eee;
  min-height: 100vh;
}
.container {
  margin: auto;
  max-width: 900px;
}
.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.choose-levels {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  color: var(--main-color);
  border: none;
}
.choose-levels:focus {
  border: none;
  outline: none;
}
.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}
.message span {
  font-weight: bold;
  color: var(--green-color);
}
.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}
.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: var(--green-color);
  color: white;
  padding: 20px;
  cursor: pointer;
}
.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  user-select: none;
}
.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}
.control span {
  font-weight: bold;
  color: var(--green-color);
}
.about-game {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
}
.about-game span {
  font-weight: bold;
  color: var(--green-color);
}
.finish {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.finish .good {
  color: var(--main-color);
}
.finish .bad {
  color: red;
}
